/* Estilos para a página de formulário de cadastro */
body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    height: 100vh; /* 100% da altura da viewport */
    margin: 0; /* Remova a margem padrão do corpo */
}

.form-container {
    max-width: 1000px; /* Ajuste o valor conforme necessário */
    width: 80%; /* Adicione uma largura fixa para evitar que o conteúdo seja muito largo */
    padding: 20px;
    border: 1px solid #000; /* Bordas pretas */
    border-radius: 5px;
    text-align: center; /* Centraliza o conteúdo horizontalmente */
    background-color: #ccc; /* Fundo cinza */
    margin: 0 auto; /* Centraliza horizontalmente */
}

.form-group {
    margin-bottom: 15px;
    text-align: left; /* Alinha o texto dos rótulos à esquerda */
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="number"] {
    width: 100%; /* Ou ajuste a largura conforme necessário */
    padding: 10px;
    border: 1px solid #000; /* Bordas pretas */
    border-radius: 3px;
    font-size: 16px;
    background-color: #fff; /* Fundo branco */
}

.btn-container {
    text-align: center;
    margin-top: 20px; /* Adicione uma margem superior para espaçamento */
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}
