* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {


background: #b2d8ff;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;


justify-content: center;
}

.container {

    text
text-align: center;
}
.square-container {
    width: 400px;
    height: 400px;
}
.viewspeixe {
    background: #ffffff;
    max-width: 600px; /* Aumente o valor para tornar o quadrado maior */
    min-height: 50vh; /* Aumente o valor para tornar o quadrado maior */
    padding: 2rem;

    box
box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.viewspeixe h1 {
    font-weight: 600;
    margin-bottom: 2rem;
}

.btn-volt {
    background-color: darkgreen;
    border-color: rgba(198, 247, 100, 0.808);
    color: white;


height: 40px;


font-size: large;
    border-radius: 8px;
    position: relative;
    top: -10px;
    left: 0;
}