.form-container {
    background-color: #b2d8ff;
    border: 1px solid #ced4da;
    padding: 10px;
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }


.form-container .form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .form-container .form-row label {
    flex: 0 0 120px;
  }

  .form-container .form-row input,
  .form-container .form-row select {
    flex: 1;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }

.btn-success {
  background-color: #28a745;
  border-color: #28a745;

}