{% load static %}
<!DOCTYPE html>
<html lang="br-pt">
<head>
  <link rel="stylesheet" href="{% static 'css/create_peixe.css' %}">

</head>
<body>
<div class="form-container">
    <form class="horizontal-form">
      <div class="form-row">
    <input type="button" id="voltar" value="Voltar">
      </div>
      <h2>Cadastro Peixe</h2>
      <div class="form-row">
        <label for="especie">Especie:</label>
        <input type="text" id="especie" name="especie">
      </div>
        <div class="form-row">
        <label for="Peso Medio do Peixe_kg">PesoMediodoPeixe_kg:</label>
        <input type="text" id="Peso Medio do Peixe_kg">
      </div>
      <div class="form-row">
        <input type="submit" value="Salvar">
      </div>
  </div>
</form>

    </div>
</body>
</html>