{% load static %}
<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Formulario de Cadastro</title>
<link rel="stylesheet" href="{% static 'css/create_piscicultor.css' %}">

    <div class="form-container">
        <h2>Cadastro de Piscicultor</h2>
        <form>
            <div class="form-group">
                <label for="name" class="form-label">Nome:</label>
                <input type="text" id="name" class="form-input">

                 <div class="form-group">
                <label for="Rg" class="form-label">Rg:</label>
                <input type="Rg" id="Rg" class="form-input">

            </div>

            <div class="form-group">
                <label for="contato" class="form-label">contato:</label>
                <input type="contato" id="contato" class="form-input">

            </div>
            <div class="form-group">
                <label for="password" class="form-label">Senha:</label>
                <input type="password" id="password" class="form-input">
            </div>
            <button type="submit" class="form-button">Cadastrar</button>

        </form>
    </div>

    </body
    </body>
</html>