{% load static %}
<!DOCTYPE html>
<html lang="br-pt">
<head>
  <link rel="stylesheet" href="{% static 'css/create_peixe.css' %}">

</head>
<body>
<div class="form-container">
    <form class="horizontal-form">

 <div class="col-8 m-auto pt-2 pb-2 text-center">
    <a href="/" class="btn btn-success">Voltar</a>
</div>

      <h2>Cadastro Peixe</h2>
      <div class="form-row">
        <label for="especie">Especie:</label>
        <input type="text" id="especie" name="especie">
      </div>
        <div class="form-row">
        <label for="PesoMediodoPeixe_kg ">Peso Medio do Peixe kg:</label>
        <input type="text" id="PesoMediodoPeixekg">
</div>
        <input type="submit"  class="btn btn-success" value="Salvar">


</form>

    </div>
</body>
</html>