{% load static %}
<!DOCTYPE html>
<html lang="br-pt">
<head>
    <link rel="stylesheet" href="{% static 'css/create_racao.css' %}">

</head>
<body>
<div class="form-container">
    <form class="horizontal-form">

           <div class="col-8 m-auto pt-2 pb-2 text-center">
    <a href="/" class="btn btn-success">Voltar</a>
</div>
        <h2>Cadastro de Ração</h2>
        <div class="form-row">
            <label for="quantidadederacaokg">Quantidade de Racao kg:</label>
            <input type="text" id="quantidadederacaokg">
        </div>
        <div class="form-row">
            <label for="marcadaracao">Marca da ração:</label>
            <input type="text" id="marcadaracao">
        </div>
        <div class="form-row">
            <label for="precoracao">Preço da ração:</label>
            <input type="text" id="precoracao">
        </div>
        <div class="form-row">
            <label for="proteinabruta">Proteina Bruta:</label>
            <input type="text" id="proteinabruta">
        </div>

            <input type="submit"  class="btn btn-success" value="Salvar">

    </form>
</div>
</body>
</html>