{% load static %}
<!DOCTYPE html>
<html lang="br-pt">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Cadastro de Viveiro</title>
    <link rel="stylesheet" href="{% static 'css/create_viveiro.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<div class="form-container">
    <h1 class="text-center">Cadastro  do Viveiro<br><br></h1>
    <div id="result"></div>
    <form name="formViveiro" id="formViveiro"
          action="{% if db %}/updateViveiro/{{db.id}}/{% else %}/create_viveiro/{% endif %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="biomassaViveiro">Biomassa do Viveiro</label>
                    {{formViveiro.biomassaViveiro}}
                </div>
                <div class="form-group">
                    <label for="dataIniciar">Data Inicial</label>
                    {{formViveiro.dataIniciar}}
                </div>
                <div class="form-group">
                    <label for="mortalidade">Mortalidade</label>
                    {{formViveiro.mortalidade}}
                </div>
                <div class="form-group">
                    <label for="dataRetirada">Data da Retirada</label>
                    {{formViveiro.dataRetirada}}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="numeroViveiro">N° do Viveiro</label>
                    {{formViveiro.numeroViveiro}}
                </div>
                <div class="form-group">
                    <label for="temperatura">Temperatura</label>
                    {{formViveiro.temperatura}}
                </div>
                <div class="form-group">
                    <label for="largura_M">Largura M²</label>
                    {{formViveiro.largura_M}}
                </div>
                <div class="form-group">
                    <label for="ganhoViveiro">Ganho Viveiro</label>
                    {{formViveiro.ganhoViveiro}}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="ladoMenor_M">Lado Menor M²</label>
                    {{formViveiro.ladoMenor_M}}
                </div>
                <div class="form-group">
                    <label for="pH_daAgua">PH da Agua</label>
                    {{formViveiro.pH_daAgua}}
                </div>
                <div class="form-group">
                    <label for="amostragemViveiro">Amostragem Viveiro</label>
                    {{formViveiro.amostragemViveiro}}
                </div>
                <div class="form-group">
                    <label for="numeroPeixesViveiro">N° de Peixe no viveiro</label>
                    {{formViveiro.numeroPeixesViveiro}}
                </div>
            </div>
        </div>
        <div class="form-row justify-content-center mt-3">
            <div class="col-md-2">
                <input type="submit" class="btn btn-success btn-block" value="Salvar">
            </div>
            <div class="col-md-2">
                <a href="/" class="btn btn-success btn-block">Voltar</a>
            </div>
        </div>
    </form>

</div>
</body>
</html>

