<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 </div>
   <div class="col-8 m-auto pt-3 pb-2 text-center">
            <a href="/form3" class="btn-success"> Adicionar Peixes</a>
    </div>

    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <table class="table">
          <!--INICIO DO CABEÇALHO -->
          <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Especie</th>
                <th scope="col">Peso Medio do Peixe_kg</th>
                <th scope="col">Ações</th>
            </tr>
          </thead>
            <!-- FIM DO CABEÇALHO-->
          <tbody>
           <!-- CORPO DA LINHA-->
               {% for dbs in db %}
            <tr>
                 <th scope="row">{{dbs.id}}</th>
                 <td>{{dbs.especie}}</td>
                 <td>{{dbs.pesoMedioPeixe_kg}}</td>
                <td>
                    <a href="/view3/{{dbs.id}}/" class ="btn btn-dark">Visualizar</a>
                     <a href="/edit3/{{dbs.id}}/" class ="btn btn-primary">Editar</a>
                     <a href="delete3/{{dbs.id}}/" class ="btn btn-danger btnDel">Deletar</a>
                </td>
            </tr>
            {% endfor %}
         </tbody>
        </table>
    </div>
</body>
</html>