<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Cadastro</title>

</head>
<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Cadastro do Piscicultor</h1>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <a href="/" class="btn btn-success">Voltar</a>
    </div>

<div class="col-8 m-auto pt-2 pb-2 text-center">
    <div id="result"></div>
        <form name="form" id="form" action="{% if db %}/update/{{db.id}}/{% else %}/create/{% endif %}" method="POST">
            {% csrf_token %}
            <div class="form-group mt-4">Piscicultor:{{form.piscicultor}}</div>
            <div class="form-group mt-4">Rg:{{form.rg}}</div>
            <div class="form-group mt-4">Contato:{{form.contato}}</div>
            <div class="form-grup mt-4">
                <input type="submit" class=" btn btn-success" value="Salvar">
            </div>
        </form>
         {% load static %}
    </div>
</body>
</html>