{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>


<div class="col-8 ">
    <!-- On rows -->
    <table class="table table-sm">
        <table class="table table-bordered small-font">
            <thead>
            <tr>
               <th scope="col">#</th>
          <th scope="col" style="font-size: 12px; white-space: nowrap;">Biomassa do viveiro</th>
<th scope="col" style="font-size: 12px; white-space: nowrap;">Data Inicial</th>
<th scope="col" style="font-size: 12px; white-space: nowrap;">Mortalidade</th>
<th scope="col" style="font-size: 12px; white-space: nowrap;">Data Retirada</th>
<th scope="col" style="font-size: 12px; white-space: nowrap;">N° viveiro</th>
<th scope="col" style="font-size: 12px; white-space: nowrap;">Temperatura</th>
<th scope="col" style="font-size: 12px; white-space: nowrap;">Largura m²</th>
<th scope="col" style="font-size: 12px; white-space: nowrap;">Ganho Viveiro</th>
<th scope="col" style="font-size: 12px; white-space: nowrap;">Lado menor m²</th>
<th scope="col" style="font-size: 12px; white-space: nowrap;">PH da agua</th>
<th scope="col" style="font-size: 12px; white-space: nowrap;">Amostragem Veveiro</th>
<th scope="col" style="font-size: 12px; white-space: nowrap;">N° de peixe no Viveiro</th>

 </tr>
 </thead>

            <tbody>
            {% for dbs in db %}
            <tr>
                <th scope="row">{{dbs.id}}</th>
                <td>{{dbs.biomassaViveiro}}</td>
                <td>{{dbs.dataIniciar}}</td>
                <td>{{dbs.mortalidade}}</td>
                <td>{{dbs.dataRetirada}}</td>
                <td>{{dbs.numeroViveiro}}</td>
                <td>{{dbs.temperatura}}</td>
                <td>{{dbs.largura_M}}</td>
                <td>{{dbs.ganhoViveiro}}</td>
                <td>{{dbs.ladoMenor_M}}</td>
                <td>{{dbs.pH_daAgua}}</td>
                <td>{{dbs.amostragemViveiro}}</td>
                <td>{{dbs.numeroPeixesViveiro}}</td>
                <td>
                    <a href="/viewsviveiro/{{dbs.id}}/" ><img src="{% static 'imagem/visualizar.png' %}"  alt="" width="30" height="30"></a>

                      <td> <a href="/editViveiro/{{dbs.id}}/" ><img src="{% static 'imagem/editar.png' %}"  alt="" width="30" height="30"></a>

                    <td> <a href="/deleteViveiro/{{dbs.id}}/"  class ="btn btn- btnDel"><img src="{% static 'imagem/excluir.png' %}"  alt="" width="30" height="30"></a>

                </td>
            </tr>
{% endfor %}
 <script src="{% static 'js/confirm_delete.js' %}"></script>
            </tbody>

        </table>

        <div class="col-8 m-auto pt-3 pb-2 text-center">
            <a href="/" class="btn btn-info">Voltar</a>
        </div>
</body>

</html>