<!DOCTYPE html>
<html lang="br-pt">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Cadastro</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<div class="col-8 m-auto pt-2 pb-2 text-center">
    <h1>Visualização dos dados</h1>
</div>

<div class="col-8 m-auto pt-2 pb-2 text-center">
    <a href="/" class="btn btn-success">Voltar</a>
</div>

<div class="col-8 m-auto pt-2 pb-2 text-center">
    <strong> Piscicultor:</strong>{{db.piscicultor}}<br>
    <strong> RG:</strong>{{db.rg}}<br>
    <strong> Contato:</strong>{{db.contato}}<br>
</div>

<div class="col-8 m-auto pt-2 pb-2 text-center">
    <h1>Visualização dos dados</h1>
</div>

<div class="col-8 m-auto pt-2 pb-2 text-center">
    <a href="/" class="btn btn-success">Voltar</a>
</div>

<div class="col-8 m-auto pt-2 pb-2 text-center">
    <strong> Biomassa do viveiro:</strong>{{db.biomassaViveiro}}<br>
    <strong> Data Inicial:</strong>{{db.dataIniciar}}<br>
    <strong> Mortalidade:</strong>{{db.mortalidade}}<br>
    <strong> Data Retirada:</strong>{{db.dataRetirada}}<br>
    <strong> N° viveiro:</strong>{{db.numeroViveiro}}<br>
    <strong> Temperatura:</strong>{{db.temperatura}}<br>
    <strong> LarguraM:</strong>{{db.largura_M}}<br>
    <strong> Ganho Viveiro:</strong>{{db.ganhoViveiro}}<br>
    <strong> Lado menorM:</strong>{{db.ladoMenor_M}}<br>
    <strong> PH da agua:</strong>{{db.pH_daAgua}}<br>
    <strong> Amostragem Veveiro:</strong>{{db.amostragemViveiro}}<br>
    <strong> N° de peixe no Viveiro:</strong>{{db.numeroPeixesViveiro}}<br>
</div>


<div class="col-8 m-auto pt-2 pb-2 text-center">
    <h1>Visualização dos dados</h1>
</div>

<div class="col-8 m-auto pt-2 pb-2 text-center">
    <a href="/" class="btn btn-success">Voltar</a>
</div>

<div class="col-8 m-auto pt-2 pb-2 text-center">
    <strong> Especie:</strong>{{db.especie}}<br>
    <strong> Peso Medio do Peixe_kg:</strong>{{db.pesoMedioPeixe_kg}}<br>
</div>

<div class="col-8 m-auto pt-2 pb-2 text-center">
    <h1>Visualização dos dados</h1>
</div>

<div class="col-8 m-auto pt-2 pb-2 text-center">
    <a href="/" class="btn btn-success">Voltar</a>
</div>

<div class="col-8 m-auto pt-2 pb-2 text-center">
    <strong> Quantidade de ração kg: </strong>{{db.quantidaderacaokg}}<br>
    <strong> Marca da ração: </strong>{{db.marcaracao}}<br>
    <strong> Preço da ração: </strong>{{db.precoracao}}<br>
    <strong> Proteina Bruta: </strong>{{db.protreinabruta}}<br>
</div>
</body>
</html>


<div class="col-8 m-auto pt-2 pb-2 text-center">
    <strong> Piscicultor:</strong>{{db.piscicultor}}<br>
    <strong> RG:</strong>{{db.rg}}<br>
    <strong> Contato:</strong>{{db.contato}}<br>
</div>
</body>
</html>