<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Cadastro</title>

</head>
<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Visualização dos dados</h1>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <a href="/" class="btn btn-success">Voltar</a>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <strong> Piscicultor:</strong>{{db.piscicultor}}<br>
        <strong> RG:</strong>{{db.rg}}<br>
        <strong> Contato:</strong>{{db.contato}}<br>
     </div>

   <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Visualização dos dados</h1>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <a href="/" class="btn btn-success">Voltar</a>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <strong> Piscicultor:</strong>{{db.piscicultor}}<br>
        <strong> RG:</strong>{{db.rg}}<br>
        <strong> Contato:</strong>{{db.contato}}<br>
     </div>
</body>
</html>